<% set_meta_tags :site => 'Taylor Medical Associates', :title => 'About' %>
<% set_meta_tags :description => "Dr. Julie Taylor is a family physician born and raised on the South Side of Chicago." %>

<!-- Intro to About Us page -->
<section class="padding bck dark">
  <div class="row ">
    <div class="column_10 offset_1 text center book margin-bottom">
      <h1 class="color color">About Us</h1>
        <br>
          <p> 
            <h3><span class="text bold color white">"I like my patients to trust me and feel at ease. I take care of the whole person, not just a part of the body."</span> - Dr. Taylor</h3>
          </p>
    </div>
  </div>
</section>



<!-- Dr. Taylor Background & Philosophy of Care -->
<section class="padding bck white">
  <div class="row">
    <div class="column_9">
      <article class="row">
        <div class="column_12 margin-bottom">
          <h2 class="text bold color light">Julie V. Taylor MD</a></h2>
            <h5 id="board-certified">Board Certified in Family Medicine</h5>
    </div>

        <div class="column_12">
        	<h6 class="text bold color light">Background</h6>
        </div>
            <p class="column_7 align text justify margin-top">
              Born and raised on the south side of Chicago, Dr. Taylor has been in private practice and affiliated with Advocate Trinity Hospital since 1998. Prior to starting her own practice, she worked in several federally funded health clinics on the south side and throughout the south suburbs. She has been taking care of a large number of her patients for the last 20 years, and it is no secret that patients love Dr. Taylor. She takes pride in the relationships built with patients and their families. Dr. Taylor also employs her own family members and goes out of her way to make sure her patients feel like family. 
                <br>
                <br>
              Dr. Taylor is a magna cum laude graduate of Howard University and received her medical degree from the University of Illinois-Chicago College of Medicine before completing her residency at Cook County Hospital. She currently serves as the Family Medicine chair at Trinity Hospital.
            </p>
                   
        <div class="padding column_3 offset_1 margin-bottom">
        <img src="assets/mom.jpg" class=" margin-bottom responsive rounded">
        </div>
          
      </article>   
    </div>
  </div>
</section>


<!-- Office Staff -->

<section class= "padding bck color align center">
  <div class="row" id="office-staff">
		<h1 class="text bold align center">Office Staff</h1>
          <div class="column_3">
    				<h3 class="text bold padding-top padding-bottom">Dawn Taylor</h3>
    					<img src="/assets/dawn.jpg">
    						<p class="text normal margin-top margin-bottom">Office/Billing Manager</p>
          </div>
          <div class="column_3">
    				<h3 class="text bold padding-top padding-bottom">Kari Glover</h3>
    					<img src="/assets/kari.jpg">
    						<p class="text normal margin-top margin-bottom">Administrative Assistant</p>
          </div>
          <div class="column_3">
    				<h3 class="text bold padding-top padding-bottom">Tiana Maxey</h3>
    					<img src="/assets/img3_thumb.jpg">
    						<p class="text normal margin-top margin-bottom">Medical Assistant</p>
          </div>
          <div class="column_3">
            <h3 class="text bold padding-top padding-bottom">Belinda Taylor</h3>
              <img src="/assets/img3_thumb.jpg">
                <p class="text normal margin-top margin-bottom">Medical Assistant</p>
          </div>
     
</section>


