



<section class="padding bck white">
        <div class="row">
            <div class="column_12 ">
                <h1 class="text bold align center margin-bottom"> FAQ </h1>
                    <p class="column_12 align text left">
                        <h4 class="text bold margin-bottom">What should I do if I need care after hours or Dr. Taylor isn't available?</h4>
                            <p id="faq">For after hours care, please call us at (773) 375-8366 and our answering service will have the doctor paged. Always call 9-1-1 first if you feel your condition is life-threatening. You may also utilize the Beverly Urgent Care Center on 98th &amp; Western as the next point of care. <strong>Remember:</strong> the Emergency Room is only for very serious or life-threatening problems.</p>
                        <h4 class="text bold margin-top margin-bottom">What types of insurances do you take?</h4>
                            <p id="faq">We accept all commercial insurances and some HMO's. We also accept workman's comp cases, as well as 3rd party insurances from motor vehicle accidents.  The only Medicaid HMO accepted is Illinois Health Connect.</p>
                        <h4 class="text bold margin-top margin-bottom">How do I get a refill for my prescription?</h4>
                            <p id="faq">Call your pharmacy for a refill if you have been seen in the past 2-3 months. If not, call our office at (773) 375-8366 to schedule an appointment.</p>
                       
                        
                    

            </div>
        </div>
    </section> 



   