<% set_meta_tags :site => 'Taylor Medical Associates', :title => 'Home' %>
<% set_meta_tags :description => "Welcome to Taylor Medical Associates, a family practice on the South Side of Chicago. We offer pediatric care, gynecologic care, as well as diagnosis and treatment of chronic illnesses." %>

<section class="padding features">
        <div class="row text color dark center book">
            <div class="column_12">
                <div>
                    <h1 id="welcome-message" class="text bold color white padding">Welcome to Taylor Medical Associates!</h1>
                        <h2 class="text bold margin-bottom" id="family">A <strong>family practice</strong> that treats you like family.</h2>
                </div>
                    
 
                        <h4 class="padding text bold" id="multitude"> We treat a multitude of health issues all in one location.</h4>
            </div>
        </div>
</section>
        
<script type="text/javascript">
                         $.backstretch([
                            
                            "<%= asset_path 'happy_black_couple.jpg'%>",
                            "<%= asset_path 'woman.jpg'%>",
                            "<%= asset_path 'black-family.jpg'%>"
                               
                          ], {duration: 4000, fade: 2000});
                    </script>
                    
            
<br>

 <section class="padding bck dark">  
            <div class="row align center">
        <div class="row text center normal padding">
            	 <div class="column_4">
    	                <h1 id="features" class="icon truck"></h1>
    	                <h4 id="features" class="text bold">Pediatric Care</h4>
                    <br>
                    <br>
                    <br>
    		                <p class="text bold">Bring your newborn for well-child visits, vaccinations and annual check-ups. We also perform school and sports physicals for kids of all ages.</p>
                </div>

                <div class="column_4">
                    	<h1 id="features" class="icon calendar"></h1>
                    	<h4 id="features" class="text bold">Gynecologic Care</h4>
                	
                	<br>
                    <br>
                    <br>
    		                <p class="text bold">We offer routine gynecologic care including annual exams, pap smears, breast exams, as well as help with contraception and other family planning needs. </p>
                </div>

                <div class="column_4">
    	                <h1 id="features" class="icon user-md"></h1>
    	                <h4 id="features" class="text bold">Diagnosis &amp; Treatment of Chronic Illnesses</h4>
                    <br>
    		                <p class="text bold">We treat chronic ailments ranging from diabetes and hypertension to obesity and geriatric syndromes. Our goal is to keep you and your family healthy and out of the emergency room. </p>
                </div>
        </div>
</section>
    




    <section class="padding bck light">
        <div class="row text center book margin-bottom">
            <div class="column_10 offset_1">
                <h1 class="">Located at 2315 E. 93rd Street, Suite 240</h1>
                <h3>Directly across from <span class="text normal color white">Advocate Trinity Hospital</span>
                </h3>
            </div>
        </div>

        <div class="row padding">
            <div class="offset_2 column_4">
                <a href="tel:7733758366" class="button large anchor" id="telephone-button"><span class="icon phone"></span>Give us a call at <br> (773) 375-8366 </a>
            </div>


            <div class="column_4">
                <a href="<%= contact_path %>" class="button large anchor secondary" id="inbox-button"><span class="icon envelope"></span>Send us an <br> inbox message</a>
            </div>
        </div>
    </section>



    <section id="office-hours-bck" class="padding bck align center ">
        <div class= "row">

            <h1 class="margin-bottom text bold align center" id="office-hours">Office Hours</h1>
               
                    <h3 class="column_12"><span class="text bold">Monday: </span> 10am - 1pm </h3><br>

                    <h3 class="column_12"><span class="text bold">Tuesday-Thursday: </span> 10am - 5:30pm</h3><br>

                    <h3 class="column_12"><span class="text bold">Friday: </span> 10am - 2pm (No doctor, only nurse visits) </h3><br>

                    <h3 class="column_12"><span class="text bold">Saturday: </span> Appointments only </h3><br>

                    <br><br><br><br>

                    <h4 class="text bold" id="walk-ins">*Walk-Ins Accepted*</h4>
                     

        </div>
    </section>




