

<!-- <div class="carousel" data-transition="slide"> -->
    <!-- <div> -->
       <!-- <img src="http://static.flickr.com/66/199481236_dc98b5abb3_s.jpg" width="75" height="75" alt="" /> -->
    <!-- </div> -->
    <!-- <div> -->
        <!-- <img src="http://static.flickr.com/70/229228324_08223b70fa_s.jpg" width="75" height="75" alt="" /> -->
    <!-- </div> -->
<!-- </div> -->


<section class="padding-bottom padding-top bck dark features">
        <div class="row text color dark center book">
            <div class="column_12">
                <h1 class="color white padding">Welcome to Taylor Medical Associates!</h1>
                
                    <div id="myCarousel" class="carousel slide">
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ol>
                      <!-- Carousel items -->
                      <div class="carousel-inner">
                        <div class="carousel-buttons-1">
                              <a id="left" class="carousel-control-2 left hide-phone" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                              <a id="right" class="carousel-control-2 right hide-phone" href="#myCarousel" data-slide="next">&rsaquo;</a>
                        </div>
                        <div id="carousel-image-wrapper" class="active item"><%= image_tag("image-test-1.jpg", :class => "column_8 offset_2 align center", :id => "carousel-image") %></div>
                        <div id="carousel-image-wrapper" class="item"><%= image_tag("image-test-2.jpg", :class => "column_8 offset_2 align center", :id => "carousel-image") %></div>
                        <div id="carousel-image-wrapper" class="item"><%= image_tag("image-test-3.jpg", :class => "column_8 offset_2 align center", :id => "carousel-image") %></div>
                      </div>
                      <!-- Carousel nav -->
                      
                    </div>
                     <h4 class="margin-bottom">A <strong>family practice</strong> that treats you like family.</h4≥
                
            </div>
        </div>
<br>
        <div class="row text center normal padding">
        	 <div class="column_4">
	                <h1 class="icon food"></h1>
	                <h4 class="text color white">Vaccinations &amp; School Physicals</h4>
                <br>
		                <p class="text normal">Ultrices vitae semper at, bibendum non ipsum. </p>
            </div>

            <div class="column_4">
                	<h1 class="icon group"></h1>
                	<h4 class="text color white">Newborn &amp; Gynecological Exams</h4>
            	
            	<br>
		                <p class="text normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>

            <div class="column_4">
	                <h1 class="icon flag"></h1>
	                <h4 class="text color white">Walk-Ins &amp; Same Day Appointments</h4>
                <br>
		                <p class="text normal">Vivamus tristique pretium diam, non placerat. </p>
            </div>
        </div>
    </section>


    <section class="padding bck light">
        <div class="row text center book margin-bottom">
            <div class="column_10 offset_1">
                <h1 class="">Located at 2315 E. 93rd Street</h1>
                <h3>Directly across from <span class="text normal color white">Advocate Trinity Hospital</span>
                </h3>
            </div>
        </div>

        <div class="row padding">
            <div class="offset_2 column_4">
                <a href="tel:7733758366" class="button large anchor" id="telephone-button"><span class="icon phone"></span>Give us a call at <br> (773) 375-8366 </a>
            </div>


            <div class="column_4">
                <a href="<%= contact_path %>" class="button large anchor secondary" id="inbox-button"><span class="icon envelope"></span>Send us an <br> inbox message</a>
            </div>
        </div>
    </section>




