

<!-- <div class="carousel" data-transition="slide"> -->
    <!-- <div> -->
       <!-- <img src="http://static.flickr.com/66/199481236_dc98b5abb3_s.jpg" width="75" height="75" alt="" /> -->
    <!-- </div> -->
    <!-- <div> -->
        <!-- <img src="http://static.flickr.com/70/229228324_08223b70fa_s.jpg" width="75" height="75" alt="" /> -->
    <!-- </div> -->
<!-- </div> -->


<section class="padding-bottom padding-top bck dark features">
        <div class="row text color dark center book">
            <div class="column_12">
                <h1 class="color white padding">Welcome to Taylor Medical Associates!</h1>
                    <h4 class="margin-bottom">A <strong>family practice</strong> that treats you like family.</h4>
                
                    <div id="myCarousel" class="carousel slide">
                          <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                          </ol>
                              <!-- Carousel items -->
                              <div class="carousel-inner">
                                <div class="carousel-buttons-1">
                                      <a id="left" class="carousel-control-2 left hide-phone" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                      <a id="right" class="carousel-control-2 right hide-phone" href="#myCarousel" data-slide="next">&rsaquo;</a>
                                </div>
                                    <div id="carousel-image-wrapper" class="active item"><%= image_tag("black-family.jpg", :class => "column_8 offset_2 align center", :id => "carousel-image") %></div>
                                    <div id="carousel-image-wrapper" class="item"><%= image_tag("happy_black_couple.jpg", :class => "column_8 offset_2 align center", :id => "carousel-image") %></div>
                                    <div id="carousel-image-wrapper" class="item"><%= image_tag("woman.jpg", :class => "column_8 offset_2 align center", :id => "carousel-image") %></div>
                                </div>
                              <!-- Carousel nav -->
                      
                    </div>
                    
                        <h4 class="padding text bold" id="multitude"> We treat a multitude of health issues all in one location.</h4>
                    
             </div>
<br>
        <div class="row text center normal padding">
            	 <div class="column_4">
    	                <h1 class="icon truck"></h1>
    	                <h4 class="text color white">Pediatric Care</h4>
                    <br>
                    <br>
                    <br>
    		                <p class="text normal">Bring your newborn for well-child visits, vaccinations and annual check-ups. We also perform school and sports physicals for kids of all ages.</p>
                </div>

                <div class="column_4">
                    	<h1 class="icon calendar"></h1>
                    	<h4 class="text color white">Gynecologic Care</h4>
                	
                	<br>
                    <br>
                    <br>
    		                <p class="text normal">We offer routine gynecologic care including annual exams, pap smears, breast exams, as well as help with contraception and other family planning needs. </p>
                </div>

                <div class="column_4">
    	                <h1 class="icon user-md"></h1>
    	                <h4 class="text color white">Diagnosis &amp; Treatment of Chronic Illnesses</h4>
                    <br>
    		                <p class="text normal">We treat a myriad of chronic ailments ranging from diabetes and hypertension to obesity and geriatric syndromes. Our goal is to keep you and your family healthy and out of the emergency room. </p>
                </div>
    </div>
</section>




    <section class="padding bck light">
        <div class="row text center book margin-bottom">
            <div class="column_10 offset_1">
                <h1 class="">Located at 2315 E. 93rd Street, Suite 240</h1>
                <h3>Directly across from <span class="text normal color white">Advocate Trinity Hospital</span>
                </h3>
            </div>
        </div>

        <div class="row padding">
            <div class="offset_2 column_4">
                <a href="tel:7733758366" class="button large anchor" id="telephone-button"><span class="icon phone"></span>Give us a call at <br> (773) 375-8366 </a>
            </div>


            <div class="column_4">
                <a href="<%= contact_path %>" class="button large anchor secondary" id="inbox-button"><span class="icon envelope"></span>Send us an <br> inbox message</a>
            </div>
        </div>
    </section>



    <section class="padding bck white align center ">
        <div class= "row">

            <h1 class="margin-bottom text bold align center" id="office-hours">Office Hours</h1>
               
                    <h3 class="column_12"><span class="text bold">Monday: </span> 10am - 1pm </h3><br>

                    <h3 class="column_12"><span class="text bold">Tuesday-Thursday: </span> 10am - 5:30pm</h3><br>

                    <h3 class="column_12"><span class="text bold">Friday: </span> 10am - 2pm (No doctor, only nurse visits) </h3><br>

                    <h3 class="column_12"><span class="text bold">Saturday: </span> Appointments only </h3><br>

                    <br><br><br><br>

                    <h4 class="text bold" id="walk-ins">*Walk-Ins Accepted*</h4>
                     

        </div>
    </section>




