


      <!-- TukTuk Footer -->
     <!--  <footer class="bck dark padding">
        <div class="row margin-top margin-bottom">
          <div class="column_12">
            <p class="text align center"> Member of the African-American Physicians Coalition at Trinity Hospital</p> 
          </div>
        </div>
      </footer> -->

      <footer class="bck dark padding">
        <div class="row margin-top margin-bottom">
          <div class="column_6">
            <!-- <br><br><br> -->
            <p class="text align center"> Member of the African-American Physicians Coalition at Trinity Hospital</p>
            <br><br><br>
              <h2 class="text bold" id="emergency">Emergency?</h2>
                <p>Call our office to have the doctor paged or visit the Beverly Urgent Care Center at 9831 S. Western Ave.</p>
              <br>
            </div>
          <div class="column_6">
            <div class="text right margin-top">
                <p class="text bold big"> Get Directions to Taylor Medical Associates</p>
                <form action="http://maps.google.com/maps" method="get" target="_blank"><input type="text" placeholder="Enter your starting address" name="saddr" /><input type="submit" value="Get Directions" class="button secondary" id="get-directions-button" /><br />
                <input type="hidden" name="daddr" value="2315 E. 93rd Street, Chicago, IL" /><br />
                
                </form>
            </div>
          </div>
        </div>
      </footer>

   