


      <!-- TukTuk Footer -->
      <footer class="bck dark padding">
        <div class="row margin-top margin-bottom">
          <div class="column_12">
            <p class="text align center"> Member of the African-American Physicians Coalition at Trinity Hospital</p>
              
               
          </div>
        </div>
      </footer>

   